node_modules
.secrets.env
test/contracts/*.json
*_fireblocks_secret.*

# Hardhat files
cache
artifacts
deployments/localhost
typechain
coverage.json
coverage

# Openzeppelin
.openzeppelin

# Editors, IDEs
.idea

# Python virtual environment (for Slither at least)
.venv

