# copy this file as .secrets.env (DO NOT ADD IT INTO GIT REPO!) and fill in your secrets
## Ethereum general
ETHERSCAN_APIKEY=<the Etherscan API key for source verification>

## Ethereum mainnet
# TODO

## Ethereum Goerli testnet
GOERLI_ALCHEMY_APIKEY=<mandatory, Alchemy API key for this network>
GOERLI_DEPLOYER_PRIVATE_KEY=<the private key for signing the contract deployment>
GOERLI_FIREBLOCKS_API_SECRET_PATH=<path to the fireblocks secret key>
GOERLI_FIREBLOCKS_API_KEY=<Your secret API key>
GOERLI_FIREBLOCKS_SOURCE_VAULT_ACCOUNT_INDEX=<index of the account to use for deployment>

