# copy this file as .secrets.env (DO NOT ADD IT INTO GIT REPO!) and fill in your secrets
# Ethereum general
ETHERSCAN_APIKEY=<the Etherscan API key for source verification>

# Ethereum mainnet
# TODO

# Ethereum Goerli testnet
## Generic settings
GOERLI_ALCHEMY_APIKEY=<Alchemy API key. Used in all deployments>
GOERLI_DEPLOYER_PRIVATE_KEY=<the private key for signing the contract deployment. Used only for non-FB deployments.>
GOERLI_FIREBLOCKS_SOURCE_VAULT_ACCOUNT_ID=<index of the account to use for deployment>

## Goerli Fireblocks settings
GOERLI_FIREBLOCKS_PROXYOWNER=<Address (in FB)>
GOERLI_FIREBLOCKS_API_KEY_PROXYOWNER=<Your secret API key>
GOERLI_FIREBLOCKS_API_SECRET_PATH_PROXYOWNER=<path to the fireblocks secret key>

GOERLI_FIREBLOCKS_ADMIN=<Address (in FB)>
GOERLI_FIREBLOCKS_API_SECRET_PATH_ADMIN=<Your secret API key>
GOERLI_FIREBLOCKS_API_KEY_ADMIN=<path to the fireblocks secret key>

GOERLI_FIREBLOCKS_BLOCKLISTER=<Address (in FB)>
GOERLI_FIREBLOCKS_API_SECRET_PATH_BLOCKLISTER=<Your secret API key>
GOERLI_FIREBLOCKS_API_KEY_BLOCKLISTER=<path to the fireblocks secret key>

GOERLI_FIREBLOCKS_PAUSER=<Address (in FB)>
GOERLI_FIREBLOCKS_API_SECRET_PATH_PAUSER=<Your secret API key>
GOERLI_FIREBLOCKS_API_KEY_PAUSER=<path to the fireblocks secret key>

GOERLI_FIREBLOCKS_UNPAUSER=<Address (in FB)>
GOERLI_FIREBLOCKS_API_SECRET_PATH_UNPAUSER=<Your secret API key>
GOERLI_FIREBLOCKS_API_KEY_UNPAUSER=<path to the fireblocks secret key>

GOERLI_FIREBLOCKS_MINTER=<Address (in FB)>
GOERLI_FIREBLOCKS_API_SECRET_PATH_MINTER=<Your secret API key>
GOERLI_FIREBLOCKS_API_KEY_MINTER=<path to the fireblocks secret key>
