# copy this file as .secrets.env (DO NOT ADD IT INTO GIT REPO!) and fill in your secrets
# Ethereum general
ETHERSCAN_APIKEY=<the Etherscan API key for source verification. Used for all deployments>

# Polygon general
POLYGONSCAN_APIKEY=<the Polygon API key for source verification. Used for all deployments>

#Infura API key 
INFURA_API_KEY=<Api key for infura>

# Ethereum mainnet
## Settings for FB deployment
MAINNET_FIREBLOCKS_VAULT_ACCOUNT_ID_DEPLOYER=<ID of the account to use for FB deployment>
MAINNET_FIREBLOCKS_API_KEY_DEPLOYER=<Your secret API key>
MAINNET_FIREBLOCKS_API_SECRET_PATH_DEPLOYER=<path to the fireblocks secret key>
MAINNET_FIREBLOCKS_PROXYOWNER=<Address (in FB)>
MAINNET_FIREBLOCKS_ADMIN=<Address (in FB)>
MAINNET_FIREBLOCKS_BLOCKLISTER=<Address (in FB)>
MAINNET_FIREBLOCKS_PAUSER=<Address (in FB)>
MAINNET_FIREBLOCKS_UNPAUSER=<Address (in FB)>
MAINNET_FIREBLOCKS_MINTER=<Address (in FB)>
MAINNET_FIREBLOCKS_RESCUER=<Address (in FB)>
MAINNET_FIREBLOCKS_BURNER=<Address (in FB)>


# Ethereum Goerli testnet
## Settings for non-FB deployment
GOERLI_ALCHEMY_APIKEY=<Alchemy API key. Used only for non-FB deployments>
GOERLI_DEPLOYER_PRIVATE_KEY=<the private key for signing the contract deployment. Used only for non-FB deployments>

## Settings for FB deployment
GOERLI_FIREBLOCKS_VAULT_ACCOUNT_ID_DEPLOYER=<ID of the account to use for FB deployment>
GOERLI_FIREBLOCKS_API_KEY_DEPLOYER=<Your secret API key>
GOERLI_FIREBLOCKS_API_SECRET_PATH_DEPLOYER=<path to the fireblocks secret key>
GOERLI_FIREBLOCKS_PROXYOWNER=<Address (in FB)>
GOERLI_FIREBLOCKS_ADMIN=<Address (in FB)>
GOERLI_FIREBLOCKS_BLOCKLISTER=<Address (in FB)>
GOERLI_FIREBLOCKS_PAUSER=<Address (in FB)>
GOERLI_FIREBLOCKS_UNPAUSER=<Address (in FB)>
GOERLI_FIREBLOCKS_MINTER=<Address (in FB)>
GOERLI_FIREBLOCKS_RESCUER=<Address (in FB)>
GOERLI_FIREBLOCKS_BURNER=<Address (in FB)>

#below is all test details for deploying to GAIX network 
GAIAX_DEPLOYER_PRIVATE_KEY=<random wallet used to deploy>

GAIAX_TESTNET_DEVELOPER_ADDRESS=<address for developer>
GAIAX_API_KEY=<random digit for now>

ARBITRUMSCAN_APIKEY=<Api key arbiscan> 
ARBI_GOERLI_DEPLOYER_PRIVATE_KEY=<random wallet is used>
ARBI_GOERLI_DEVELOPER_ADDRESS=< address for developer > 

# Sepolia settings 
SEPOLI_FIREBLOCKS_VAULT_ACCOUNT_ID_DEPLOYER=<ID of the account to use for FB deployment>
SEPOLI_FIREBLOCKS_API_KEY_DEPLOYER=<Your secret API key>
SEPOLI_FIREBLOCKS_API_SECRET_PATH_DEPLOYER=<path to the fireblocks secret key>
SEPOLI_FIREBLOCKS_PROXYOWNER=<Address (in FB)>
SEPOLI_FIREBLOCKS_ADMIN=<Address (in FB)>
SEPOLI_FIREBLOCKS_BLOCKLISTER=<Address (in FB)>
SEPOLI_FIREBLOCKS_PAUSER=<Address (in FB)>
SEPOLI_FIREBLOCKS_UNPAUSER=<Address (in FB)>
SEPOLI_FIREBLOCKS_MINTER=<Address (in FB)>
SEPOLI_FIREBLOCKS_RESCUER=<Address (in FB)>
SEPOLI_FIREBLOCKS_BURNER=<Address (in FB)>

# Optimism settings

# OPTIMISM api key 
OP_APIKEY=<API KEY FOR OPTIMISM SCAN>

OP_FIREBLOCKS_VAULT_ACCOUNT_ID_DEPLOYER=<ID of the account to use for FB deployment>
OP_FIREBLOCKS_API_KEY_DEPLOYER=<Your secret API key>
OP_FIREBLOCKS_API_SECRET_PATH_DEPLOYER=<path to the fireblocks secret key>

OP_FIREBLOCKS_PROXYOWNER=<Address (in FB)>
OP_FIREBLOCKS_ADMIN=<Address (in FB)>
OP_FIREBLOCKS_BLOCKLISTER=<Address (in FB)>
OP_FIREBLOCKS_PAUSER=<Address (in FB)>
OP_FIREBLOCKS_UNPAUSER=<Address (in FB)>
OP_FIREBLOCKS_MINTER=<Address (in FB)>
OP_FIREBLOCKS_RESCUER=<Address (in FB)>
OP_FIREBLOCKS_BURNER=<Address (in FB)>